In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("pollution_us_2000_2016.csv")

In [3]:
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [4]:
df.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [5]:
df = df.drop(columns=['Unnamed: 0', 'Site Num', 'Address', 'City'])

In [6]:
pd.unique(df['O3 Units'])

array(['Parts per million'], dtype=object)

In [7]:
print(df)

         State Code  County Code    State    County  Date Local  \
0                 4           13  Arizona  Maricopa  2000-01-01
1                 4           13  Arizona  Maricopa  2000-01-01
2                 4           13  Arizona  Maricopa  2000-01-01
3                 4           13  Arizona  Maricopa  2000-01-01
4                 4           13  Arizona  Maricopa  2000-01-02
...             ...          ...      ...       ...         ...
1746656          56           21  Wyoming   Laramie  2016-03-30
1746657          56           21  Wyoming   Laramie  2016-03-31
1746658          56           21  Wyoming   Laramie  2016-03-31
1746659          56           21  Wyoming   Laramie  2016-03-31
1746660          56           21  Wyoming   Laramie  2016-03-31

                 NO2 Units   NO2 Mean  NO2 1st Max Value  NO2 1st Max Hour  \
0        Parts per billion  19.041667               49.0                19
1        Parts per billion  19.041667               49.0                19
2        Parts per billion  19.041667               49.0                19
3        Parts per billion  19.041667               49.0                19
4        Parts per billion  22.958333               36.0                19
...                    ...        ...                ...               ...
1746656  Parts per billion   1.083333                1.6                 9
1746657  Parts per billion   0.939130                1.3                 5
1746658  Parts per billion   0.939130                1.3                 5
1746659  Parts per billion   0.939130                1.3                 5
1746660  Parts per billion   0.939130                1.3                 5

         NO2 AQI  ...          SO2 Units  SO2 Mean  SO2 1st Max Value  \
0             46  ...  Parts per billion  3.000000                9.0
1             46  ...  Parts per billion  3.000000                9.0
2             46  ...  Parts per billion  2.975000                6.6
3             46  ...  Parts per billion  2.975000                6.6
4             34  ...  Parts per billion  1.958333                3.0
...          ...  ...                ...       ...                ...
1746656        1  ...  Parts per billion  0.000000                0.0
1746657        1  ...  Parts per billion -0.022727                0.0
1746658        1  ...  Parts per billion -0.022727                0.0
1746659        1  ...  Parts per billion  0.000000                0.0
1746660        1  ...  Parts per billion  0.000000                0.0

         SO2 1st Max Hour  SO2 AQI           CO Units   CO Mean  \
0                      21     13.0  Parts per million  1.145833
1                      21     13.0  Parts per million  0.878947
2                      23      NaN  Parts per million  1.145833
3                      23      NaN  Parts per million  0.878947
4                      22      4.0  Parts per million  0.850000
...                   ...      ...                ...       ...
1746656                 2      NaN  Parts per million  0.091667
1746657                 0      0.0  Parts per million  0.067714
1746658                 0      0.0  Parts per million  0.100000
1746659                 5      NaN  Parts per million  0.067714
1746660                 5      NaN  Parts per million  0.100000

         CO 1st Max Value  CO 1st Max Hour  CO AQI
0                   4.200               21     NaN
1                   2.200               23    25.0
2                   4.200               21     NaN
3                   2.200               23    25.0
4                   1.600               23     NaN
...                   ...              ...     ...
1746656             0.100                2     1.0
1746657             0.127                0     NaN
1746658             0.100                0     1.0
1746659             0.127                0     NaN
1746660             0.100                0     1.0

[1746661 rows x 25 columns]

In [8]:
df.isna().sum()

State Code                0
County Code               0
State                     0
County                    0
Date Local                0
NO2 Units                 0
NO2 Mean                  0
NO2 1st Max Value         0
NO2 1st Max Hour          0
NO2 AQI                   0
O3 Units                  0
O3 Mean                   0
O3 1st Max Value          0
O3 1st Max Hour           0
O3 AQI                    0
SO2 Units                 0
SO2 Mean                  0
SO2 1st Max Value         0
SO2 1st Max Hour          0
SO2 AQI              872907
CO Units                  0
CO Mean                   0
CO 1st Max Value          0
CO 1st Max Hour           0
CO AQI               873323
dtype: int64

In [9]:
d = df.dropna()

In [10]:
print(d)

         State Code  County Code    State    County  Date Local  \
1                 4           13  Arizona  Maricopa  2000-01-01
5                 4           13  Arizona  Maricopa  2000-01-02
9                 4           13  Arizona  Maricopa  2000-01-03
13                4           13  Arizona  Maricopa  2000-01-04
17                4           13  Arizona  Maricopa  2000-01-05
...             ...          ...      ...       ...         ...
1746642          56           21  Wyoming   Laramie  2016-03-27
1746646          56           21  Wyoming   Laramie  2016-03-28
1746650          56           21  Wyoming   Laramie  2016-03-29
1746654          56           21  Wyoming   Laramie  2016-03-30
1746658          56           21  Wyoming   Laramie  2016-03-31

                 NO2 Units   NO2 Mean  NO2 1st Max Value  NO2 1st Max Hour  \
1        Parts per billion  19.041667               49.0                19
5        Parts per billion  22.958333               36.0                19
9        Parts per billion  38.125000               51.0                 8
13       Parts per billion  40.260870               74.0                 8
17       Parts per billion  48.450000               61.0                22
...                    ...        ...                ...               ...
1746642  Parts per billion   4.277273               23.5                23
1746646  Parts per billion   8.317391               22.6                 6
1746650  Parts per billion   2.564706                3.6                 6
1746654  Parts per billion   1.083333                1.6                 9
1746658  Parts per billion   0.939130                1.3                 5

         NO2 AQI  ...          SO2 Units  SO2 Mean  SO2 1st Max Value  \
1             46  ...  Parts per billion  3.000000                9.0
5             34  ...  Parts per billion  1.958333                3.0
9             48  ...  Parts per billion  5.250000               11.0
13            72  ...  Parts per billion  7.083333               16.0
17            58  ...  Parts per billion  8.708333               15.0
...          ...  ...                ...       ...                ...
1746642       22  ...  Parts per billion -0.095238                0.0
1746646       21  ...  Parts per billion  0.117391                0.5
1746650        3  ...  Parts per billion  0.143750                0.7
1746654        1  ...  Parts per billion  0.016667                0.1
1746658        1  ...  Parts per billion -0.022727                0.0

         SO2 1st Max Hour  SO2 AQI           CO Units   CO Mean  \
1                      21     13.0  Parts per million  0.878947
5                      22      4.0  Parts per million  1.066667
9                      19     16.0  Parts per million  1.762500
13                      8     23.0  Parts per million  1.829167
17                      7     21.0  Parts per million  2.700000
...                   ...      ...                ...       ...
1746642                 0      0.0  Parts per million  0.100000
1746646                 7      0.0  Parts per million  0.100000
1746650                 8      0.0  Parts per million  0.006667
1746654                 0      0.0  Parts per million  0.091667
1746658                 0      0.0  Parts per million  0.100000

         CO 1st Max Value  CO 1st Max Hour  CO AQI
1                     2.2               23    25.0
5                     2.3                0    26.0
9                     2.5                8    28.0
13                    3.0               23    34.0
17                    3.7                2    42.0
...                   ...              ...     ...
1746642               0.1                0     1.0
1746646               0.1                0     1.0
1746650               0.1                0     1.0
1746654               0.1                2     1.0
1746658               0.1                0     1.0

[436876 rows x 25 columns]

In [11]:
df['SO2 AQI'] = df.groupby(['County', 'Date Local'])['SO2 AQI'].ffill()
df['CO AQI'] = df.groupby(['County', 'Date Local'])['CO AQI'].bfill()
df.isna().sum()
# mapper = df.groupby(['County', 'Date Local'])['SO2 AQI'].first()
# mapper
# df['SO2 AQI'] = df.fillna(mapper)

State Code             0
County Code            0
State                  0
County                 0
Date Local             0
NO2 Units              0
NO2 Mean               0
NO2 1st Max Value      0
NO2 1st Max Hour       0
NO2 AQI                0
O3 Units               0
O3 Mean                0
O3 1st Max Value       0
O3 1st Max Hour        0
O3 AQI                 0
SO2 Units              0
SO2 Mean               0
SO2 1st Max Value      0
SO2 1st Max Hour       0
SO2 AQI                0
CO Units               0
CO Mean                0
CO 1st Max Value       0
CO 1st Max Hour        0
CO AQI               317
dtype: int64

In [12]:
df = df.dropna()
# df[df['CO AQI'].isna()]
# df.head(20)

In [13]:
df.isna().sum()
df.to_csv("pollution.csv")